.clearfix:after,
.clearfix:before {
  content: " ";
  display: table;
}
/*html{
  scroll-behavior: smooth;
}
*/

body {
  font-family: roboto,Helvetica,sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: $bg-color-body;
  /* overflow: hidden;
    background-size: cover;
    -webkit-background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat*/
}

body,
p {
  font-family: $font-body;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.85em;
  color: $text-color-body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  font-weight: 600;
  font-style: normal;
  color: $color-heading;
  line-height: 1.5em;
}

p {
  font-size: 14px;
  margin: 0 0 10px;
  font-weight: 400;
}

.ma-l-5px {
  margin-left: 5px;
}

.ma-l-10px {
  margin-left: 10px;
}

.ma-l-15px {
  margin-left: 15px;
}

.ma-l-20px {
  margin-left: 20px;
}

.ma-r-5px {
  margin-right: 5px;
}

.ma-r-10px {
  margin-right: 10px;
}

.ma-bt-30px {
  margin-bottom: 30px;
}

.pd-5px {
  padding: 5px;
}

.pd-10px {
  padding: 10px;
}
