$font-body:Poppins,Helvetica,sans-serif;

$font-heading:Poppins,Helvetica,sans-serif;

$color-heading:#333;


$bg-color-body:#f5f5f5;

$text-color-body:#666;



$bg-header:#fff;



$style-of-me:#388E3C;
